<html>
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Blinker&display=swap"
    />

    <title>{{name}}'s CV</title>

    <style>
      html { -webkit-print-color-adjust: exact; } * { margin: 0; padding: 0;
      box-sizing: border-box; } body {width: 21cm; margin: 0 auto; font-family:
      'Blinker', sans-serif; background: } .container{width: 21cm;
      background-color: #f8fafc; padding: 0 .5cm .5cm .5cm; }
      .section{padding-top: 0.4cm;}
    </style>

  </head>
  <body>
    <main size="A4" class="container">
      <section class="section bio-data"></section>
      <section class="profile-summary"></section>
      <section class="work-exp"></section>
      <section class="skills"></section>
      <section class="education"></section>
      <section class="cert"></section>
      <section class="ref"></section>

    </main>
  </body>
</html>